<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luji.demo.os01.dao.board.BoardMapper">

    <select id="getPostList" resultType="luji.demo.os01.dto.board.PostDTO">
        SELECT
            id,
            board_id,
            user_id,
            title,
            user_name "userName",
            content,
            view_count "viewCount",
            createdAt,
            deletedAt
        FROM
            demo.post
        WHERE
            board_id = #{category}
            AND deletedAt is null
    </select>

    <select id="getBoardList" resultType="luji.demo.os01.dto.board.BoardDTO">
        SELECT
            id,
            category,
            type,
            publish,
            createdAt,
            deletedAt
        FROM
            demo.board
        WHERE
            publish > 0
            AND deletedAt IS NULL
    </select>

</mapper>